<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/passporttreeview/css/aciTree.css'
                            'bundles/passporttreeview/css/main.css'
            filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
                <meta name="description" content="A demo to show you how aciTree API can be used">
        <meta name="keywords" content="aciTree, treeview, control, tree view, javascript, jQuery">
            
            {% block javascripts %}
                {% javascripts '@PassportTreeviewBundle/Resources/public/js/jquery.min.js'
                                '@PassportTreeviewBundle/Resources/public/js/jquery.aciPlugin.min.js'
                                '@PassportTreeviewBundle/Resources/public/js/jquery.aciTree.min.js'
                                '@PassportTreeviewBundle/Resources/public/js/main.js'
                %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
                {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice" style="color: #c00000" >
        {{ flashMessage }}
    </div>
{% endfor %}
        {% block body %}
	<div class='cmenu rc'>
	    <li class='create'>New Factory</li>
	    <li class='createblank'>New Blank Factory</li>
	</div>
        <div class="cmenu">
            <ul>
                <li class='generate'>Generate</li>
                <li class='delete'>Delete</li>
            </ul>
        </div>
        
        <!-- Modal -->
	<div id="modalcontainer">
	    <div id="modalscreen"></div>
            <div id="modal">Please wait...</div>
	</div>
	<script>
	    $(document).ready(function(e){
		$('div.cmenu li').click(function(){
		    var modalurl;
		    var keepmodal;
		    //alert('this button is ' + $(this).html() + ' and the id is: ' + $(this).attr('id'));		      
		    $('#modalcontainer').css('display', 'block');
		    $('#modal').slideDown("slow");
		    if ($(this).hasClass('create')) {
			modalurl = "{{path("factory_new")}}";
			keepmodal = true;
		    }else if ($(this).hasClass('createblank')) {
			modalurl = "{{path("factory_initiate", {'name':'nameph'})}}";
			var nameph = prompt("Enter a name: ");
			if (nameph==null) {
			    modalurl="";
			}
			modalurl = modalurl.replace('nameph', nameph);
			keepmodal = false;
		    }else if ($(this).hasClass('generate')) {
			modalurl = "{{path("factory_edit", {'id':'facid'})}}";
			keepmodal = true;
		    }else if ($(this).hasClass('delete')) {
			modalurl = "{{path("factory_delete1", {'id':'facid'})}}";
			keepmodal = false;
		    }

		    modalurl = modalurl.replace('facid', $(this).attr('id'));
		    //Loading the new/edit form into the modal div
		    $('#modal').load(modalurl);
		    $('#modalscreen').click(function(){
			$('#modal').slideUp("slow", function(){
			    $('#modal').html('Please Wait...');
			    $('#modalcontainer').fadeOut();
			});
		    });
		    
		    if (keepmodal==false) {
			hideModal();
			location.reload();
		    }
		    
		    $(document).keyup(function(e) {
			if (e.keyCode == 27) { //esc
			    $('#modalscreen').click();
			}
		    });

		});
	    });
        </script>
        {% endblock %}
    </body>
</html>
