{% extends '::base.html.twig' %}

{% block body -%}
    {{ parent() }}
    <!--
    <ul>
        <li>
            <a href="{{ path('factory_new') }}">
                Root Node
            </a>
        </li>
    </ul>


        {% for entity in entities %}
                {{ entity.name }} {{ entity.children }}: ({{ entity.min }} - {{ entity.max }}) --  <a href="{{ path('factory_edit', { 'id': entity.id }) }}">edit</a>
<br>
                {% for child in children[entity.id] %}
                    | {{ child.value }}
                {% endfor %}
                <br><br>
                -------------------------------------------------
                <br><br>
        {% endfor %}
        -->
        <div>
            <div id="tree" class="aciTree"><div>                    
        </div>
        <script class="code" type="text/javascript">
           $(function() {
               // init the tree
               $('#tree').aciTree({
                   ajax: {
                       url: '{{path("factory_json")}}'
                   },
                   selectable: true
               });
           });
       </script>
    {% endblock %}
    {% block botttom %}
        <script>
        $('.rclickable').contextPopup({
  title: 'My Popup Menu',
  items: [
	{label:'Some Item',     icon:'icons/shopping-basket.png',             action:function() { alert('clicked 1') } },
	{label:'Another Thing', icon:'icons/receipt-text.png',                action:function() { alert('clicked 2') } },
	{label:'Blah Blah',     icon:'icons/book-open-list.png',              action:function() { alert('clicked 3') } },
	null, // divider
	{label:'Sheep',         icon:'icons/application-monitor.png',         action:function() { alert('clicked 4') } },
	{label:'Cheese',        icon:'icons/bin-metal.png',                   action:function() { alert('clicked 5') } },
	{label:'Bacon',         icon:'icons/magnifier-zoom-actual-equal.png', action:function() { alert('clicked 6') } },
	null, // divider
	{label:'Onwards',       icon:'icons/application-table.png',           action:function() { alert('clicked 7') } },
	{label:'Flutters',      icon:'icons/cassette.png',                    action:function() { alert('clicked 8') } }
  ]
});
</script>
{% endblock %}