{% extends '::base.html.twig' %}

{% block body -%}
    <ul>
        <li>
            <a href="{{ path('factory_new') }}">
                Root Node
            </a>
        </li>
    </ul>


        {% for entity in entities %}
                {{ entity.name }} {{ entity.children }}: ({{ entity.min }} - {{ entity.max }}) --  <a href="{{ path('factory_edit', { 'id': entity.id }) }}">edit</a>
<br>
                {% for child in children[entity.id] %}
                    | {{ child.value }}
                {% endfor %}
                <br><br>
                -------------------------------------------------
                <br><br>
        {% endfor %}
        
        Tree here:<br>
        
                    <script class="code" type="text/javascript">

                $(function() {

                    // init the tree
                    $('#tree').aciTree({
                        ajax: {
                            url: 'sample.json'
                        },
                        selectable: true
                    });

                });

            </script>

    {% endblock %}
