{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Factory list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Children</th>
                <th>Min</th>
                <th>Max</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('factory_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.children }}</td>
                <td>{{ entity.min }}</td>
                <td>{{ entity.max }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('factory_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('factory_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
            <tr>
                <td>Child Nodes: </td>
                <td colspan=100>
                {% for child in children[entity.id] %}
                    | {{ child.value }}
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('factory_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
