{% extends '::base.html.twig' %}

{% block body -%}
    <ul>
        <li>
            <a href="{{ path('factory_new') }}">
                
            </a>
        </li>
    </ul>


        {% for entity in entities %}
                <a href="{{ path('factory_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
                {{ entity.children }}
                {{ entity.min }}
                {{ entity.max }}
                {{ entity.id }}
                <ul>
                    <li>
                        <a href="{{ path('factory_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>

                {% for child in children[entity.id] %}
                    | {{ child.value }}
                {% endfor %}
        {% endfor %}


    {% endblock %}
