{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Factory</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Children</th>
                <td>{{ entity.children }}</td>
            </tr>
            <tr>
                <th>Min</th>
                <td>{{ entity.min }}</td>
            </tr>
            <tr>
                <th>Max</th>
                <td>{{ entity.max }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{{ entity.modified|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('factory') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('factory_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
